@font-face {
  font-family: "iconfont"; /* Project id 3315582 */
  src: url('//at.alicdn.com/t/c/font_3315582_3d00hw9ms6n.eot?t=1662218068372'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_3315582_3d00hw9ms6n.eot?t=1662218068372#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_3315582_3d00hw9ms6n.woff2?t=1662218068372') format('woff2'),
       url('//at.alicdn.com/t/c/font_3315582_3d00hw9ms6n.woff?t=1662218068372') format('woff'),
       url('//at.alicdn.com/t/c/font_3315582_3d00hw9ms6n.ttf?t=1662218068372') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e656";
}

.icon--:before {
  content: "\e623";
}

.icon-lianjie:before {
  content: "\e6fd";
}

.icon-lianjie1:before {
  content: "\e6e9";
}

.icon-rss:before {
  content: "\e62b";
}

.icon-rss1:before {
  content: "\e601";
}

.icon-dingyue:before {
  content: "\e600";
}

.icon-shu:before {
  content: "\e6bd";
}

.icon-saomiao:before {
  content: "\e817";
}

